.package{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.col{
  padding-left: 100px;
}
blockquote{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{
  font-style: italic;
}